# Java
target/
*.class
*.jar
*.war
*.ear
*.log

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# Maven
log/
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
!**/src/main/**/application.properties

# Spring Boot
*.db
*.h2.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Virtual Environment
venv/
ENV/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.*

# PyCharm
.idea/

# CSV/Test Data
python-etl/data.csv
*.bak
*.swp

# Backup Files
*~
*.tmp
